*{
    padding: 0;
    margin: 0;
    /*border: 1px solid black;*/

  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
/* http://localhost:5500/ */
.button{
    position: sticky;
    bottom: 0;
    z-index: 99999999999;
}
.home{
    width: 50px ;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: 50px;

    font-weight: 600;
    background-color: #F4F3EA;
    color: #A08D7C;

    box-shadow: 0px 4px 20px #A08D7C;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

}
.imogi a:hover {
    color: rgb(131, 113, 87);
}
.me{
    color: inherit;
    text-decoration: none;

    padding: 5px 10px;
    line-height: 1;
    display: inline-block;
}
.me:hover {
    text-decoration: none;

    font-size: large;
}

#wrapper{
    background-color: #A08D7C;
}

#head{
    width: 100%;
    height: 950px;

    background-image: url('back.jpg');

    background-color: rgba(0, 0, 0, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#head::before {
    content: ""; /* 가상 요소 생성 */
    position: absolute; /* 절대 위치 */
    top: 0; /* 상단 정렬 */
    left: 0; /* 왼쪽 정렬 */
    right: 0; /* 오른쪽 정렬 */
    bottom: 0; /* 하단 정렬 */
}
.header{
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative; /* 헤더가 오버레이 위에 보이도록 설정 */
    z-index: 2; /* 헤더 내용을 오버레이 위에 표시 */
    color: #F4F3EA; /* 텍스트 색상 (가독성을 위해) */

    padding-top: 10px;
}
.logo p{
    padding-left: 15px;
    font-weight: bold;
    font-size: 50px;
}
.menu ul{
    display: flex;
}
.menu li{
    list-style-type: none;

    height: 30px;
    line-height: 30px;
    min-width: 110px;
    text-align: center;
}
.backgroud P{
    color: white;
    font-size: 80PX;
    text-align: center;
    padding-top: 160px;

    position: relative; /* 헤더가 오버레이 위에 보이도록 설정 */
    z-index: 2; /* 헤더 내용을 오버레이 위에 표시 */
    color: #F4F3EA; /* 텍스트 색상 (가독성을 위해) */


  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
    font-weight: 600;

    text-shadow: 
        -1px -1px 0 #A08D7C,  
        -1px -1px 0 #A08D7C,
        -1px  1px 0 #A08D7C,
        1px  1px 0 #A08D7C;
}
/*여기까지 head*/
#about{
    width: 100%;
    height: 950px;

    background-color: #F4F3EA;

    color: #A08D7C;

    align-items: center;
}
#about .am{
    text-align: center;
    color: #A08D7C;

    padding-top: 80px;
    font-size: 100px;
}
#about .about-right{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.proimg{
    padding-right: 30px;
}
.proimg img{
    width: 350px;
    height: 350px;

    border-radius: 50%;
}
.contant h1{
    font-size: 50px;
}
.contant p{
    font-size: 25px;
}
.imogi{
    transition: background-color 0.5s ease;
}
.imogi .fa-brands{
    font-size: 40px;
    padding-right: 7px;
}
.ro{
    text-decoration: none;
    color: inherit;
}
.ro:hover {
    text-decoration: none;
    color: #A08D7C;
}
/*여기까지 about*/
/*여기서부터 스킬*/
#skills{
    width: 100%;
    height: 950px;

    background-color: #A08D7C;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    color: #F4F3EA;
}
.ski{
    padding-top: 80px;
}
.ski p{
    font-size: 100px;

    text-align: center;
}
.sboxm{
    display: flex;
    justify-content: space-between;
    align-items: center;


    margin-left: 25%;
    margin-right: 400px;
    margin-top: 50px;
    margin: 0 auto;
    padding: 100px;
}
.sbox{
    color: #A08D7C;
    background-color: #F4F3EA;
    border-radius: 20px;

    width: 33%;
    height: 500px;

    text-align: center;

    transition: transform 0.3s ease;
}
.sbox .rogi{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 25px;
}
.sbox p{
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.sbox:hover{
    transform: scale(1.1);
}
#skills .box{
    width: 1200px;
    height: 600px;
    background-color: #F4F3EA;
    border-radius: 20px;

    margin-top: 30px;
}

/*여기서부터 프로젝트*/
#projects{
    width: 100%;
    height: 950px;

    background-color: #F4F3EA;
    color: #A08D7C;
    /**/
    position: relative;
}
.pro{
    padding-top: 80px;
    /**/
    text-align: center;
}
.pro p{
    font-size: 100px;

    text-align: center;
}
.boxm{
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center;   /* 세로 가운데 정렬 */
    margin-top: 0px;
}
.box{
    align-items: center;
    justify-content: space-between;
}
#slide {
    width: 100%; /* 기본적으로 100% */
    height: auto; /* 비율 유지 */
}
.slider{
    width: 1100px;
    height: 500px;
    justify-content: center;
    align-items: center;

    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center;   /* 세로 가운데 정렬 */
    margin-top: 0px;
}
.slider img {
    width: 1100px;  /* 원하는 너비 */
    height: 500px;  /* 원하는 높이 */
    border-radius: 20px;

    box-shadow: 0px 4px 20px #A08D7C;

    margin-top: 30px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    color: #A08D7C;
}
.controls span{
    width: 35px;
}
button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #F4F3EA;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    color: #A08D7C;
    font-style: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #D4C4B4;
    /*color: #F4F3EA;*/
}
/*여기서부터 저장소*/
#archiving{
    width: 100%;
    height: 950px;

    background-color: #A08D7C;
    color: #F4F3EA;

    justify-content: center;
    align-items: center;

    /*background-image: url('img3.jpg');

    background-color: rgba(0, 0, 0, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}
.arc{
    padding-top: 80px;
}
.arc p{
    font-size: 100px;

    text-align: center;
}
.arcboxm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arcbox{
    width: 1300px;
    height: 500px;
    background-color: #F4F3EA;
    border-radius: 20px;
    color: #A08D7C;

    display: flex;
    justify-content: center;
    align-items: center;
}
.arcbox .git{
    font-size: 30px;
}
.arcbox .fa-brands{
    font-size: 300px;

    padding-right: 100px;

    text-decoration: none;
    color: inherit;
}
.arcbox .fa-brands{
    text-decoration: none;
    color: #A08D7C;
}




/*여기서부터 엔딩*/
#ending{
    width: 100%;
    height: 950px;

    background-color: #F4F3EA;
    color: #A08D7C;

    margin: 0 auto;
}
#ending p{
    font-size: 100px;
    width: 100%;
    margin: 0 auto;

    text-align: center;
    color: #A08D7C;

    padding-top: 300px;
}
.endb{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 50px;
}
#ending button{
    width: 200px;
    height: 100px;
    border-radius: 25px;
    
    background-color: #A08D7C;
    color: #F4F3EA;

    transition: background-color 0.5s ease;

    margin: 0 auto;
   
}
#ending button:hover{
    color: #F4F3EA;
    background-color: rgb(131, 113, 87);
}



/*------------------------------------------------------------*/
/*패드화면*/

@media (max-width: 992px) and (min-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }
    .backgroud{
        text-shadow: 
                -1px -1px 0 #A08D7C,  
                 1px -1px 0 #A08D7C,
                -1px  1px 0 #A08D7C,
                 1px  1px 0 #A08D7C;
    }
    /*head 끝*/

    .proimg img{
        /*max-width: 100%;
        height: auto;*/
        margin-left: 10px;

        width: 300px;
        height: 300px;
    }
    .about-right .contant h1{
        font-size: 40px;
    }
    .about-right .contant .imogi{
        font-size: 20px;
    }
    /*---------어떡해 해야할지 모르겠음. 초! 비!! 상!!!!!!!마진응 업ㄱ애도 안된다 마진만 해결되면 빠르게 끝날듯-------------------*/
    .skills .sboxm{
        /* margin-left: 10px;
        margin-right: 10px; */
        display: flex;
      
      
        margin: 0 auto;
    }
    .sboxm .sbox{
        background-color: aqua;/*?*/
         /* margin-left: 10px;
        margin-right: 10px; */
    }
    /*자바 문제인듯 ㅇㅇ 사이즈가 검사하면 바뀌어있는데 그냥 보면 안 바뀌어 있다. 추후 수정이 많이 ㅠㅣㄹ요함*/
    .slider{
        width: 700px !important;
    }
    .slider img{
        width: 700px;
    }
    #slide {
        width: 100%; /* 전체 너비 사용 */
        height: auto; /* 비율 유지 */
    }
    .slider {
        width: 100%; /* 화면 너비에 맞춤 */
        height: auto; /* 비율 유지 */
    }

    .slider img {
        width: 100%; /* 전체 너비 사용 */
        height: auto; /* 비율 유지 */
    }
    /*---------------왜 이러니 이러지마 젭알 아 진짜루 ㅠㅠㅠㅠㅠㅠ--------------------*/
    .arcbox{
        width: 100px;
    }
    /*-----------해야할것 스킬,프로젝트,저장소(+about도 하면 좋을듯)------------*/

}



/*------------------------------------------------------------*/
/*스마트폰화면*/

@media (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
    }
    .menu{
        width: 200px;
    }
    #head{
        margin: 0;
        padding: 0;
    }
    nav ul {
        flex-direction: column; /* 작은 화면에서는 세로로 배치 */
        align-items: center;
    }
}